<h1>About Me</h1>

<img src="/assets/img/profile.jpg" width="200px" height="200px" />
<h2>Just the Facts</h2>
<p>My name is Andrew Wagner.</p>

<h3>Jobs</h3>
I am currently developing an app business <a href="http://learnbrigade.com">Learn Brigade</a> and I also
work as a freelance developer with <a href="http://chronosinteractive.com">Chronos Interactive</a>, primarily
for iOS and web services. I have been developing my own iOS apps on the side since the beginning of the App
Store in 2008 but I spent my first few years out of college gaining some industry experience. I worked for a
year as an iOS Software Developer for a startup based in Denver, CO called <a href="http://www.showmobile.com">
ShowMobile</a>. Before that I worked on Speech Recognition at <a href="http://garmin.com">Garmin</a> for 3
years primarily in C and C++ where I also developed internal web tools in PHP, MYSQL, HTML5, CSS3 and Javascript
for collecting audio and testing Speech Recognition.

<h3>Education</h3>
<p>Bachelors in Computer Systems Engineering from <a href="http://www.rpi.edu">Rensselaer Polytechnic Institute</a></p>

<h3>Apps on the Store</h3>
<ul>
    <li><a href="http://www.notecardsapp.com">Notecards</a> - Semi-successful study Application using virtual flash cards</li>
    <li><a href="https://itunes.apple.com/us/app/showmobile/id611210900?mt=8&uo=4&at=11lrJC">ShowMobile</a> - Mobile entertainment platform currently targeted at teenagers</li>
    <li><a href="https://itunes.apple.com/us/app/busy-bee-cafe/id378754509?mt=8">Busy Bee Cafe</a> - Contact app for a restaurant in Raleigh, North Carolina</li>
    <li><a href="https://itunes.apple.com/us/app/hds-entry-mobile-inspection/id806379309?mt=8&at=11lrJC">HDS Entry, Mobile Inspection</a> - App to allow housing authority inspectors to conduct a variety of inspections digitally from the field</li>
    <li><a href="http://onbeat.fit">OnBeat</a> - An app to manage group workouts tracking athlete's heart rate through bluetooth. This uses a backend web service and web app both written in Swift.</li>
</ul>

<h3>Apps Previously on the Store</h3>
<ul>
    <li>Redirect - Failed challenging action / puzzle game</li>
    <li>What the Turkey? - Silly Thanksgiving card creator</li>
</ul>

<h3>Other Apps</h3>
<p>I have also developed tens of other apps during freelance development that are distributed internally to their businesses.</p>

<h3>Consumer Products Worked on</h3>
<ul>
    <li><a href="https://buy.garmin.com/shop/shop.do?pID=63940">Nüvi 3790T</a> - The feature I worked on was Speech Recognition. A real world demonstration from a user is <a href="http://www.youtube.com/watch?v=sAHaDiwPPzk">here</a>.</li>
    <li>Chrysler Navigation System</li>
    <li>Suzuki Navigation System</li>
</ul>

<h2>A Bit More Personal</h2>

<p>I don't feel like I fit into any classical mold of a profession. My main training is in Software Engineering
but I have also studied User Experience and even a little bit of Graphic Design. My main passion is developing
amazing user experiences that hopefully push society forward. This can be as technical as creating an
understandable and maintainable API to helping shape the emerging world of Speech Interfaces.</p>

<p>I pride myself in having strong opinions but also a huge willingness to be persuaded differently. I have a hard
time holding back my opinions but I love to discuss them with others, especially when they have opposing positions.</p>

<h2>More Information</h2>
<ul>
    <li>My Companies Site: <a href="http://learnbrigade.com">LearnBrigade.com</a></li>
    <li><a href="https://twitter.com/drewag">Twitter</a></li>
    <li><a href="https://github.com/drewag">Github</a></li>
    <li><a href="http://stackoverflow.com/users/story/661853">Stack Overflow Story</a></li>
    <li><a href="http://www.linkedin.com/in/drewag/">Linked In</a></li>
</ul>
