<h1>About Me</h1>
<img src="/assets/img/profile.jpg" width="200px" height="200px" />
<h2>Overview</h2>
<p>
  My name is Andrew Wagner. I have a passion for <strong>product and user experience development</strong>. I don't care what technologies or skills I
  have to learn as long as they allow me to shape the products I develop to provide the best experience possible for its users.
  That is the perspective I bring to all of my development including my programming.
</p>
<p>
  My main skills are in programming and user experience, but I have dabbled in graphic design, product
  design, marketing, business development, and everything else involved in turning an idea into a
  marketable reality.
</p>

<h2>A Bit More Personal</h2>

<p>I don't feel like I fit into any classical mold of a profession. My main training is in Software Engineering
but I have also studied User Experience and even a little bit of Graphic Design. My main passion is developing
amazing user experiences that hopefully push society forward. This can be as technical as creating an
understandable and maintainable API to helping shape the emerging world of Speech Interfaces.</p>

<p>I pride myself in having strong opinions but also a huge willingness to be persuaded differently. I have a hard
time holding back my opinions but I love to discuss them with others, especially when they have opposing positions.</p>

<h2>Jobs</h2>
<h3>App Development</h3>
<ul>
  <li><strong>Freelance iOS developer</strong> at <a href="http://chronosinteractive.com">Chronos Interactive</a> <span class="date">(June 2015 to Present)</span>
    <p>
      As the sole iOS developer I am a part of the whole development experience from initial client meetings to delivery
      of the product. Also, because the vast majority of apps don't exist in a vacuum anymore, I often also write
      backend services and occasionally web apps
    </p>
  </li>
  <li><strong>Founder</strong> at <a href="http://learnbrigade.com">Learn Brigade</a> <span class="date">(January 2009 to Present)</span>
    <p>
      I have been developing my own iOS apps on the side since the beginning of the App Store in 2008. This business
      has evolved over time but it has primarily centered around creating educational apps
    </p>
  </li>
  <li><strong>iOS Software Developer</strong> at <a href="http://www.showmobile.com">ShowMobile</a> <span class="date">(November 2012 - September 2013)</span>
    <p>
      Startup based in Denver, CO developing a social video platform for iOS
    </p>
  </li>
</ul>
<h3>Industry Experience</h3>
<ul>
  <li><strong>ASR Software Developer</strong> at <a href="http://garmin.com">Garmin</a> <span class="date">(January 2010 - December 2008)</span>
    <p>
      Worked on the Speech Recognition team primarily in C and C++. I also developed internal web tools in PHP,
      MYSQL, HTML5, CSS3 and Javascript for collecting audio and testing Speech Recognition.
    </p>
  </li>
</ul>

<h2>Education</h2>
<p>Bachelors in Computer Systems Engineering from <a href="http://www.rpi.edu">Rensselaer Polytechnic Institute</a></p>

<h2>Apps on the Store</h2>
<ul>
  <li><a href="http://www.notecardsapp.com">Notecards</a> <span class="date">(2009)</span> - Semi-successful study Application using virtual flash cards</li>
  <li><a href="https://itunes.apple.com/us/app/showmobile/id611210900?mt=8&uo=4&at=11lrJC">ShowMobile</a> <span class="date">(2013)</span> - Mobile entertainment platform currently targeted at teenagers</li>
  <li><a href="https://itunes.apple.com/us/app/busy-bee-cafe/id378754509?mt=8">Busy Bee Cafe</a> <span class="date">(2010)</span> - Contact app for a restaurant in Raleigh, North Carolina</li>
  <li><a href="https://itunes.apple.com/us/app/hds-entry-mobile-inspection/id806379309?mt=8&at=11lrJC">HDS Entry, Mobile Inspection</a> <span class="date">(2014)</span> - App to allow housing authority inspectors to conduct a variety of inspections digitally from the field</li>
  <li><a href="http://onbeat.fit">OnBeat</a> <span class="date">(2016)</span> - An app to manage group workouts tracking athlete's heart rate through bluetooth. This uses a backend web service and web app both written in Swift.</li>
</ul>

<h2>Apps Previously on the Store</h2>
<ul>
    <li>Redirect - Failed challenging action / puzzle game</li>
    <li>What the Turkey? - Silly Thanksgiving card creator</li>
</ul>

<h2>Other Apps</h2>
<p>I have also developed tens of other apps during freelance development that are distributed internally to their businesses.</p>

<h2>Books</h2>
<ul>
    <li><a href="https://www.amazon.com/gp/product/1784392502/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1784392502&linkCode=as2&tag=drewagblog-20&linkId=b4622d5ffda67637fc86296e9d5b33fa">Learning Swift</a></li>
    <li><a href="https://www.amazon.com/gp/product/B01FKTI6JC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01FKTI6JC&linkCode=as2&tag=drewagblog-20&linkId=6092758fd638d3f61e1dabf5f28790d9">Learning Swift - Second Edition</a></li>
</ul>

<h2>Consumer Products Worked on</h2>
<ul>
    <li><a href="https://buy.garmin.com/shop/shop.do?pID=63940">Nüvi 3790T</a> - The feature I worked on was Speech Recognition. A real world demonstration from a user is <a href="http://www.youtube.com/watch?v=sAHaDiwPPzk">here</a>.</li>
    <li>Chrysler Navigation System</li>
    <li>Suzuki Navigation System</li>
</ul>

<h2>More Information</h2>
<ul>
    <li><a href="http://stackoverflow.com/users/661853/drewag">Stack Overflow (drewag)</a></li>
    <li><a href="https://github.com/drewag">Github (drewag)</a></li>
    <li><a href="https://twitter.com/drewag">Twitter @drewag</a></li>
    <li><a href="http://www.linkedin.com/in/drewag/">LinkedIn (drewag)</a></li>
    <li><a href="https://uxmag.com/contributors/andrew-wagner">UX Magazine (Andrew Wagner)</a></li>
</ul>
