</div>
  <div>
    <div id="footer">
      <p>If you would like to discuss a post with me, I encourage you to contact me on Twitter or LinkedIn</p>
      <a href="https://twitter.com/drewag">
          <img alt="Twittericon" src="/assets/img/TwitterIcon.png" />
          Follow Me
      </a>
      <a href="http://www.linkedin.com/in/drewag/">
          <img alt="Linkedinicon" src="/assets/img/LinkedInIcon.png" />
          Connect With Me
      </a>
      <form accept-charset="UTF-8" action="/subscribers/new" class="new_subscriber" data-remote="true" id="new_subscriber" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="hojZkxjetfZktRnMIO6nXsWf+1tOdl3bFGGtrX6qqT8=" /></div>
        <header>Subscribe To Future Posts</header>
        <p>To receive an email each time I publish a post enter your email below. You can unsubscribe at any time.
        </p>
        <input id="subscriber_email" name="email" placeholder="your-email@domain.com" size="30" type="text" />
        <div id="results"></div>

        <input name="commit" type="submit" value="Subscribe" />
      </form>
      <p id="donate-call">
      Appreciate what I do on this site and want more?
      </p>
      <a id="donate" href="/donate">Make A Donation</a>
      <p><a href="/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</div>
</body>
</html>
