<h1>About this Blog</h1>
<p>
  My name is Andrew Wagner and I am a software developer focussed primarily on <strong>iOS and web development</strong>.
  On this blog I try my best to provide valuable content to other developers based on what I've learned. I did not
  become the developer I am today without the help and advice from friends, co-workers, and others on the internet.
  I would love to give back to this community.
</p>
<p>
  Lately I have been concentrating primarily on <strong>Swift development</strong> for native apps, backend services, and even websites (like this one).
  But, I bring the perspective of someone who has worked with many different technologies and languages with a particular passion
  for <strong>product design</strong> and <strong>user experience</strong>.
</p>
<p>
  To learn more about my background and what drives me, I encourage you to checkout my <a href="/about-me">about me</a> page.
</p>

<h1>Featured Posts</h1>
{{ repeat featured }}
<div class="post">
  <a href="{{link}}"><img src="{{imageLink}}" alt/></a>
  <div id="description">
    <h2><a href="{{link}}">{{title}}</a></h2>
    <p class="published">{{published}}</p>
    <p>{{summary}}</p>
  </div>
</div>
{{ end }}

<h1>Other Recent Posts</h1>
{{ repeat recent }}
<div class="post">
  <h3><a href="{{link}}">{{title}}</a></h3>
  <p class="published">{{published}}</p>
  <p>{{summary}}</p>
</div>
{{ end }}

<h3><a href="/posts">All Posts</a></h3>
