<h1>Subscribe To Future Posts</h1>
<form method="POST">
    {{ if error }}
    <p class="error">{{ error }}</p>
    {{ end }}
    {{ if message }}
    <p class="message">{{ message }}</p>
    {{ end }}
    <p>I truly hope you have found my posts valuable and interesting. If you have and want to make sure you don't miss any of my new content, enter your email below. You can unsubscribe at any time.</p>

    <input type="email" name="email" value="{{ email }}" placeholder="your-email@domain.com" />
    <input type="submit" />
</form>
<div class="centered-content">
  <div id="footer">
    <p id="donate-call">
    Appreciate what I do on this site and want more?
    </p>
    <a id="donate" href="/donate">Make A Donation</a>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>
</div>
