<h1 style="max-width:700px;text-align:center;font-family:'Georgia',serif;font-size:20pt;padding-bottom:0.1em;border-bottom:solid 1px #004581;margin-bottom:5px;color:#004581">
    New Posts on <a href="{{domain}}?utm_medium=email&utm_campain=NewPostNotification&utm_source=subscribers&utm_term=header" style="color:inherit;text-decoration:none;">Drewag.me</a>
</h1>


{{repeat posts}}
    <h2 style="max-width:700px;font-family:'Georgia',serif;font-size:20pt;padding-bottom:0.1em;margin-bottom:5px;color:#004581">
      <a href="{{domain}}{{link}}?utm_medium=email&utm_campain=NewPostNotification&utm_source=subscribers&utm_term=title" style="text-decoration:none;color:inherit">{{title}}</a>
    </h2>
    <p style="max-width:700px;color:#585858;margin-bottom:0.2em;margin-top:0;font-size:10pt;font-family:'Verdana',sans-serif">
      <time>Published on {{published}}</time>
    </p>

    <div style="display:inline-block; max-width:700px;">
        <img src="{{domain}}{{imageLink}}" style="width:200px;margin:1em 0;border:1px solid #004581;"/>

        <p style="text-align:left;font-family:'Verdana',sans-serif;color:#111;font-size:12pt">{{summary}}</p>

        <p style="margin-top:10px">
          <a href="{{domain}}{{link}}?utm_medium=email&utm_campain=NewPostNotification&utm_source=subscribers&utm_term=readmore" style="color:#004581;font-size:12pt">Read More</a>
        </p>
    </div>

    <hr style="max-width:700px" align="left"/>
{{end}}

<!-- Footer -->

<p style="max-width:700px;font-family:'Verdana',sans-serif;color:#666;">
  These posts have recently been published on my <a style="color:#004581" href="{{domain}}?utm_medium=email&utm_campain=NewPostNotification&utm_source=subscribers&utm_term=note">drewag.me</a> blog.
  You received this notification because you subscribed on my website. If this was a mistake or you would like to stop
  the notifications please click the unsubscribe link at the bottom of this email.
</p>

<p style="text-align:center;max-width:700px">
  <a href="{{domain}}?utm_medium=email&utm_campain=NewPostNotification&utm_source=subscribers&utm_term=footer"><img src="{{domain}}/assets/img/logo.png" style="margin-bottom:10px"/></a>
  <br />
  <a href="{{domain}}/subscribers/unsubscribe?token={{unsubscribeToken}}" style="color:#999;font-size:10pt;margin-top:20px">Unsubscribe</a>
</p>
