<h1>Privacy Policy</h1>

<p>I take your privacy as seriously as I take my own. You can see details below but at a
high level I try to minimize the information I collect as much as is reasonably possible.
Every time I add a feature I first think if it invades a user's' privacy at all and if it does
I only do so if I think it will add value to those users.</p>

<h2>What information do I collect?</h2>
<p>The following is a complete list of all the information I may collect.</p>

<h3>Subscriber's Email Address</h3>
<p><strong>Why:</strong> To allow sending notifications about new blog posts to those who want to receive them.</p>
<p><strong>When:</strong> When you submit your email in the subscription form.</p>
<p><strong>How long:</strong> Until you choose to unsubscribe at which point your email will be completely erased from our database.</p>

<h2>How do I protect your information?</h2>
<p>All information is contained on a secured server and is only accessible to me (Andrew Wagner).</p>

<h2>Analytics</h2>
<p>I use <a href="https://www.google.com/analytics/">Google Analytics</a> to collect basic usage data, but I do not
allow google to use the information. Google Analytics stores <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Cookies</a> on your computer that your web browser passes
to Google server to track the visits to the site of a particular visitor. It collects the following information anonymously:</p>

<ul>
    <li>What website you came from</li>
    <li>How long you stay for</li>
    <li>What kind of computer, operating system, and browser you're using</li>
    <li>You're screen resolution</li>
    <li>You're service provider</li>
</ul>

<p>These are all things that you browser includes in a request to any site you visit. I hope to use this information to improve the
site. If you do not want to be tracked, I encourage you to use a tool like
<a href="https://www.ghostery.com/our-solutions/ghostery-browser-extension/">Ghostery</a> to block the tracking.</p>

<h2>Third-party disclosure</h2>
<p>I do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>

<h2>Third-party links</h2>
<p>Occasionally, I link to third-party sites. While I do endorse the specific page I am linking to, I cannot vouch for their specific privacy policy and I do not necessarily endorse the site as a whole. That means I take no responsibility or liablity for the content and activities of those sites.</p>
