<h1>Privacy Policy</h1>

<h2>What information do I collect?</h2>
<p>The following is a complete list of all the information I may collect.</p>

<ul>
<li>
<h3><a href="https://en.wikipedia.org/wiki/IP_address">IP address</a></h3>
<p><strong>Why:</strong> To get a very rough sense of where people are reading my blog from.</p>
<p><strong>When:</strong> Whenever you load a page on this site.</p>
<p><strong>How long:</strong> Indefinitely</p>
</li>
<li>
<h3><a href="https://en.wikipedia.org/wiki/IP_address">Refering Site</a></h3>
<p><strong>Why:</strong> To discover who is linking to my blog and how much traffic it is driving.</p>
<p><strong>When:</strong> Whenever you click a link that directs you here.</p>
<p><strong>How long:</strong> Indefinitely</p>
</li>
<li>
<h3>Subscriber's Email Address</h3>
<p><strong>Why:</strong> To allow sending notifications about new blog posts to those who want to receive them.</p>
<p><strong>When:</strong> When you submit your email in the subscription form.</p>
<p><strong>How long:</strong> Until you choose to unsubscribe at which point your email will be completely erased from our database.</p>
</li>
</ul>

<h2>How do I protect your information?</h2>
<p>All information is contained on a secured server and is only accessible to me (Andrew Wagner).</p>

<h2>Do I use <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a></h2>
<p>No</p>

<h2>Analytics</h2>
<p>I use <a href="https://www.google.com/analytics/">Google Analytics</a> to collect basic usage data, but I do not allow google to use the information. I hope to use this information to improve the site</p>

<h2>Third-party disclosure</h2>
<p>I do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>

<h2>Third-party links</h2>
<p>Occasionally, I link to third-party sites. While I do endorse the specific page I am linking to, I cannot vouch for their specific privacy policy and I do not necessarily endorse the site as a whole. That means I take no responsibility or liablity for the content and activities of those sites.</p>
