<h1>Site Down</h1>
<p>
I am very sorry but the site seems to have gone down. It should restart automatically soon. Please check back in a few minutes.
</p>
<p>In the meantime, you can also find my content in the following locations:</p>
<ul>
    <li><a href="http://stackoverflow.com/users/661853/drewag">Stack Overflow (drewag)</a></li>
    <li><a href="https://github.com/drewag">Github (drewag)</a></li>
    <li><a href="https://twitter.com/drewag">Twitter @drewag</a></li>
    <li><a href="http://www.linkedin.com/in/drewag/">LinkedIn (drewag)</a></li>
    <li><a href="https://uxmag.com/contributors/andrew-wagner">UX Magazine (Andrew Wagner)</a></li>
</ul>
