.post {
  width:100%;
  margin-top:20px;
  font-size:0;
}

.post a {
    margin:0;
    padding:0;
}

.post img {
  width:30%;
  height:28%;
  background-color:#2b2b2b;
  display:inline-block;
  outline:2px solid #004581;
  margin:0px;
  padding:0px;
  vertical-align:top;
  margin-top:16px;
}


.post #description {
  margin:0px;
  padding:0px;
  display:inline-block;
  width:70%;
  margin-top:16px;
}

.post h2, .post h3, .post p {
  margin:0;
}

#content .post h3 {
    font-style:normal;
}

.post #description h2, .post #description p {
  margin-left:20px;
  margin-top:0;
}

.post.featured #description ul.tags {
    margin-left:20px;
}

.post .published {
  color:#585858;
  margin-bottom:0.2em;
  margin-top:0.1em;
  font-size:10pt;
}

.post .published a {
  text-decoration: none;
  color:inherit;
}

.post p {
  font-size:13pt;
}

.post h3 {
  margin-top:2em;
}

@media all and (max-width:600px) {
    .post img {
        width:100%;
    }

    .post p {
      font-size:11pt;
    }

    .post #description h2, .post #description h3 {
      font-size:13pt;
    }

    .post #description {
        width:100%;
        margin-top:0;
    }

    .post #description h2, .post #description p {
        margin-left:4px;
        margin-right:4px;
    }

    .post.featured #description ul.tags {
        margin-left:4px;
    }

    #content .post h2 {
        margin-top:1em;
        padding-top:0;
    }
}
