body, html {
  margin:0;
  font-family:'Verdana',sans-serif;
  font-size:13pt;
  color:#111;
}

.centered-content {
  max-width:700px;
  min-width:300px;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
}

#top-bar {
  height:66px;
  width:100%;
  background:url('/assets/img/top-bar-background.jpg');
  background-size:1px 66px;
  background-repeat:horizontal;
  text-align:left;
}

#top-bar #logo {
  width:292px;
  height:66px;
  background:url('/assets/img/top-bar-icon.jpg');
  background-size:292px 66px;
  display:inline-block;
}

#top-bar #donate {
    text-decoration:none;
    line-height:24px;
    height:23px;
    margin-top:10px;
    display:inline-block;
    float:right;
    color:white;
    border:thin solid white;
    padding:0.2em;
    border-radius:0.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Georgia', serif;
}

#content h1 {
  font-size:20pt;
  text-align:center;
  margin-top:3em;
  padding-bottom:0.1em;
  margin-bottom:1em;
  border-bottom:solid 1px #004581;
  color: #004581;
}

#content h1:first-child {
    margin-top:2em;
}

#content h2 {
    margin:0;
    margin-top:2em;
    margin-bottom:.25em;
    font-size:16pt;
}

#content h3 {
    font-style: italic;
    font-size:16pt;
}

#content p {
    line-height: 1.6em;
}

#content ul li {
    margin-bottom:0.5em;
}

a {
  color:#004581;
  text-decoration:none;
}

a:hover {
    color:#018abd;
}

#footer {
  clear:both;
  text-align:center;
  padding:10px;
  color:#666;
}

#footer p {
  font-size:9pt;
}

#footer a {
  color:inherit;
  padding:10px;
  padding-bottom:20px;
  text-decoration:none;
}

#footer img {
  outline:none;
}

#footer form {
  background-color:#eee;
  max-width:320px;
  margin:1em auto;
  padding:1em;
  border-radius: 15px;
}

#footer form header {
  font-size:12pt;
  font-weight:600;
}

#footer #donate-call {
    font-size:12pt;
    padding-top:0.8em;
    margin-bottom:0.5em;
}

#footer #donate {
    background-color:#004581;
    color:white;
    padding:0.5em;
    margin:0.5em;
    border-radius: 5px;
    margin-top:0;
    margin-bottom:0.5em;
    display:inline-block;
}

#footer form #subscriber_email {
    width:90%;
}

form input {
  font-size:12pt;
  padding:0.5em;
  border:thin solid #ddd;
  border-radius:0.4em;
}

form input[type="submit"] {
  background-color:#666;
  color:white;
  margin-top:0.5em;
  font-size:10pt;
}

img {
  outline:2px solid #004581;
}

@media all and (max-width:700px) {
  body, html {
    font-size:12pt;
  }
}

@media all and (max-width:600px) {
  .centered-content {
    padding-left:10px;
    padding-right:10px;
  }

  body, html {
    font-size:11pt;
  }

}

@media all and (max-width:400px) {
  #top-bar #donate {
    display:none;
  }

  #top-bar #logo {
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
}
